.courseList{
    flex: 4;
}
.courseListTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .courseAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }
  