.newCourse{
    flex: 4;
    padding: 20px;
}

.newCourseForm{
    display: flex;
    flex-wrap: wrap;
}

.newCourseItem{
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

.newCourseItem>label{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(151,150,150);
}
.newCourseItem>input{
    height: 40px;
    padding: 10px;
    border:1px solid gray;
    border-radius: 5px;
}

.newCourseGender>input{
    margin-top: 15px;
}

.newCourseGender>label{
    margin:10px;
    font-size: 18px;
    color: #555;
}

.newCourseSelect{
    height: 40px;
    border-radius: 5px;
}

.newCourseButton{
    width: 200px;
    border:none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
}
.photoUpload{
    color: white;
    height: 60px;
    width: 250px;
    background-color: #f5af09;
    margin: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type="file"]{
    display: none;
  }