*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;    
}
body{
 /* background-color: #ccccff; */
}
.home{
    background-color: #ccccff;  
    margin-top: 3rem;
}
.p1{
    font-family:'Ubuntu',sans-serif;
    text-align: center;
    display: block;
    margin-top: 50px;
    font-size:xx-large;
    margin-left: 20px;
}
.p2{
    padding-left: 5rem;
}
.p3{
    padding-top:5rem;
    font-family:'Ubuntu',sans-serif;
    font-size: 40px;
    text-align: center;
}
.p4{
    padding-top:5rem;
    font-family:'Ubuntu',sans-serif;
    font-size: 40px;
    margin-left: 3rem;
}
.p5{
    padding-top:5rem;
    font-family:'Ubuntu',sans-serif;
    font-size: 40px;
    text-align: center;
}

.carousel-inner{
    padding-top: 3rem; 
     height: 500px;
     width: 100%;
    margin-right: 0px;
    margin-left:0px;
}

.item, .card-img-top{
    height: 100% ;
    width:  100% ;
    /* border: 2px solid; */
    /* border-radius: 4px; */
}
/* .svg{ */
    /* background-color:#ccccff ; */
/* } */

.card{
    box-shadow: 8px 6px 3px rgba(153, 152, 152, 0.582);
}
.space{
    margin-right: 2rem;
}
.whiteincolor{
    color:white;
}
.list1{
    list-style-type: none;
}
.list2{
    list-style-type: none;
}

.list3{
    list-style-type: none;
}
@media screen and (max-width: 600px) {
    .row{
        flex-direction: column;
    }
    .row1{
        flex-direction: column;
    }
}
